.sidebar{
    display: inline-block;
    color: white;
    width: 200px;
    height: 500px;
    background-color: blue;
    text-align: center;
    padding: 10px 20px;
    gap: 20px;
}
.container {
    display: inline-block;
}
.grid-container {
    display: grid;
    grid-template-columns: 320px auto;
    padding: 0px 0px 0px 50px;
}
.language{
    display: inline-flex ;
}
.rating{
    gap: 20px;
}